.error-text {
  color: red;
}

.panel {
  height: 485px;
  overflow: hidden;
}

.panel-body img {
  max-width: 90%;
  width: auto;
  height: 80%;
  max-height: 320px;
}

.search-bar {
  margin: 40px auto;
  max-width: 40%;
}

.search-bar input {
  width: 50%;
  margin: auto;
}

.panel-rating {
    color: green;
}